<div style="font-family: Helvetica; width: 100%;">
  <div style="background: #65ffce; padding: 1rem;">
    <img src="https://cakeelizabeth.com/resources/other/logo.svg" />
    <h2 style="text-transform: uppercase; font-weight: lighter; letter-spacing: .15em; max-width: calc(100% - 2rem)">A new contact is trying to reach out!</h2>
  </div>
  <div style="max-width: calc(100% - 2rem); padding: 1rem;">
    <p>Name: <span style="font-weight: bold;"><%- name %></span>.</p>
    <p>Email: <span style="font-weight: bold;"><%- email %></span>.</p>
    <% if (phoneNumber) { %>
      <p>Phone number: <span style="font-weight: bold;"><%- phoneNumber %></span></p>
    <% } %>
    <% if (subject) { %> 
      <h3><%- subject %></h3>
    <% } %>
    <p><%- message %></p>
  </div>
</div>
