.root {
  background: var(--primary-color) !important;
  color: dimgray;
  z-index: 4;
  width: 100%;
  position: sticky;
}

.topItems {
  display: flex;
  width: 100%;
  justify-content: space-between;

  & > div {
    margin: 1rem;
  }
}

.socialLink {
  margin: .25rem;
}

.logoContainer {
  display: flex;
  width: 100%;
  justify-content: center;

  & > button {
    margin: .5rem;
  }
}

.menuItems {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;

  @media only screen and (max-width: 750px) {
    flex-direction: column;
  }

  li {
    list-style-type: none;
  }
}

.selected {
  font-weight: bold !important;
  .menuList > & {
    color: var(--primary-color);
  }
}

.rootMenuItem {
  &, button, a {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .95em;
    font-weight: 500;

  }
  margin: 1rem;
  flex-grow: 1;
  white-space: nowrap;
  @media only screen and (min-width: 750px) {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.stickyRoot {
  z-index: 2;
  position: sticky;
  top: 0;
}

// adds a "sliding door" shadow when the header goes sticky
.shadowRoot {
  background: var(--primary-color);
  position: sticky;
  height: 1px;
  margin-top: -1px;
  z-index: 1;
  top: 0;
  box-shadow: 5px calc(1.4em + 1.9rem) 20px 5px rgba(black, .5);
  width: 100%;
}

.mobileMenuContainer {
  display: flex;
  width: 100%;
  & > :last-child {
    flex-grow: 1;
    height: 52px;
    margin-top:2px;
    width: 52px;
  }
}

.mobileImageContainer {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  img {
    height: 52px;
  }
}

.mobileMenu {
  margin: .5rem 0;
  border-color: dimgray !important;
  background-color: transparent !important;
}

.hiddenMenuContainer {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100vh;
  top: 0;
  width: 100%;
  background: var(--primary-color);
}