.root {
  h2 {
    text-transform: uppercase;
    font-size: 2em;
    margin: 1rem auto;
    text-align: center;
  }

  h3 {
    margin: 1em 0;
    font-size: 1.4em;
  }

  h4 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em 0;
  }

  h5 {
    margin: 1em 0;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  p + p {
    margin-top: 1em;
  }

  a {
    color: blue;
    text-decoration: underline;

    &:active {
      color: red;
    }

    &:visited {
      color: purple;
    }
  }
}