.form {
  display: flex;
  flex-direction: column;
  gap: .5em;

  > * {
    // I have no idea...
    z-index: 0;
  }
}

.submit {
  width: 100%;
  margin-top: 1em;
  > button {
    @include mobile {
      width: 100%;
    }
  }
}

.pageSplit {
  width: 100%;
  display: flex;
  gap: 2em;
  @include desktop {
    > :first-child {
      width: 60%;
    }
  }

  @include mobile {
    flex-direction: column-reverse;
  }
}

.contactBlock {
  >:not(:first-child) {
    margin-bottom: 1em;
  }
}
