@import "tailwindcss";
@import "./assets/fonts/fonts.css";

@theme {
  --color-primary: #65ffce;
  --color-primary-foreground: #181614;
  --color-secondary-foreground: #444444;
  --color-dark-primary-foreground: #ffffff;
  --color-dark-secondary-foreground: #cccccc;
  --color-border: #e8e2da;
  --color-eggshell: #f3f1ee;

  --font-serif: "Old Standard TT", serif;
  --font-sans: "Montserrat", sans-serif;

  --container-dsk: 1024px;
  /* preferred "max" but that has a naming conflict within TW */
  --container-widest: 1920px;

  --spacing-max-content: var(--container-dsk);
  --spacing-max-page: var(--container-widest);
  --spacing-min-dsk-padding: 40px;
  --spacing-min-mbl-padding: 16px;

  --shadow-base: 0 4px 20px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
}

@custom-variant dark (&:where(.dark, .dark *));

@utility page-container {
  @apply max-w-max-page mx-auto;
}

@utility content-container {
  @apply max-w-max-content mx-auto px-min-mbl-padding @dsk:px-min-dsk-padding;
}

@utility block-padding {
  @apply not-first:mt-5;
}

@utility highlight-border {
  @apply text-secondary-foreground dark:text-primary border-y-2 border-primary py-1;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  &.cms-preview [data-cms-field] {
    @apply outline-2 outline-dashed outline-transparent outline-offset-8 cursor-pointer transition-colors duration-150;

    &:hover {
      @apply outline-primary;
    }
  }
}

/* Prose enabled by default at root */
h1,
h2,
h3 {
  @apply font-serif text-primary-foreground dark:text-dark-primary-foreground;
}

h1,
h2,
h3,
p {
  @apply block-padding text-balance;
}

h1 {
  @apply text-5xl @dsk:text-6xl;
}

h2 {
  @apply text-4xl @dsk:text-5xl italic;
}

h3 {
  @apply text-xl @dsk:text-2xl text-secondary-foreground;
}

p {
  @apply font-sans text-sm @dsk:text-base text-secondary-foreground dark:text-dark-secondary-foreground;
}

a,
button {
  @apply outline-4 outline-transparent outline-offset-4;

  &:focus-visible {
    @apply outline-primary;
  }
}
